p 在庫変動確認、必要なの（stock(在庫)、追加された数、在庫が減った数、変動数（group）)
p 日付を選択する（初めと終わりの日）→初めの日の方が終わりの日より後ならエラー、始まりの日なくてもエラー、終わりは今日の日がデフォ、始まりは前日がデフォ
p 選択した日付の在庫の変動があった商品だけ表示
p 在庫の増減数は「（-numの合計で減り＋在庫追加で増加）」、現段階の在庫数、減った数(numの合計)、増えた数(増減数-numの合計)
p わかるのは 「現在の在庫」「numの合計（減った数）」「増えた数」
p 中間テーブルでも作って増減した数を保存するか？
p stock_updateテーブル　product_id, num, created_at(自動)

p = link_to "増減数先", stock_fluctuation_admin_stock_managements_path

p 100 - 30 + 5 = 75  5が見えないから元々は105

p = link_to "在庫一括追加", management_admin_stock_managements_path
p 在庫切れ時管理者にメール
p 在庫管理機能＋在庫なしのみ在庫を管理機能
