p ロゴ , 商品 , 問い合わせ , ログイン , お気に入り , カート , 商品search

= link_to '問い合わせ', connect_home_index_path
= link_to 'サイトマップ', sitemap_home_index_path
= link_to '商品一覧', products_path
= link_to '商品詳細' , "products/1"
= link_to 'ログイン', new_session_path
= link_to '新規登録', new_user_path
= link_to 'ユーザー編集', "users/2/edit"
