p 確認画面

.row
  .col-md-12
    h3 注文内容を確認・変更する
    h6 下の「注文を確定する」ボタンを押してご注文い ただくことで、お客様は当サイトのプライバシー規約 および利用規約 に同意の上、商品をご注文されたことになります。 Paidy翌月払いの支払い方法を使用して注文する場合、Paidyの利用規約・個人情報取扱条項についても同意されたことになります。
    h6 Amazonマーケットプレイスの商品をご注文された場合、お客様は出品者の返品・交換の条件およびプライバシーポリシー、その他の販売条件、および一部の出品者から商品やサービスのご案内が届くことについても同意されたことになります。国内外の出品者の会社情報および所在並びに各条件・ポリシーの詳細は、出品者のページでご確認ください。
    h6 Amazonマーケットプレイスの商品を購入する場合は、所定の配送料がかかります。「注文を確定する」ボタンをクリックする前に、配送料と注文合計をご確認ください。
    .col-md-9
      .row
        p お届け先住所 変更お届け先住所
        名前
        郵便番号
        都道府県 住所!
        電話番号: 電話番号
        複数のお届け先を指定する
        置き配指定
        置き場所を指定する
        受取スポットにもお届けできます受取スポットにもお届けできます
        20 か所が近くにあります。 受取スポットを選択
        支払い方法 変更支払い方法: MasterCard 下4桁  4545,
        MasterCard 下4桁  4545
        分割・リボ払いも利用可能です
        お支払方法に紐づいた住所 変更お支払方法に紐づいた住所
        発送先住所と同じ
      .row
        期間限定キャンペーン
        ギフト券チャージして最大3%ポイント 今すぐチェック
        お届け日: 2019年12月13日 11 時間 と 35 分以内に確定されたご注文が対象です。 （詳細）
        絶対に痩せる！本
        絶対に痩せる！本
        ダニエル・エイカー
        y 902
        9pt (1%)
        在庫あり。
        SUUMO住宅情報誌と対象の本の同時購入で合計金額から最大370円OFF
        数量: 1 変更絶対に痩せる！本の数量を1から＿＿
        販売： Amazon Japan G.K.
        ギフトの設定
        スタンフォードの自分を変える教室 (だいわ文庫)
        スタンフォードの自分を変える教室 (だいわ文庫)
        ケリー・マクゴニガル
        y 814
        8pt (1%)
        在庫あり。
        SUUMO住宅情報誌と対象の本の同時購入で合計金額から最大370円OFF
        数量: 1 変更スタンフォードの自分を変える教室 (だいわ文庫)の数量を1から＿＿
        販売： Amazon Japan G.K.
        ギフトの設定
    .col-md-3
      .row
        - if @cart_items.present?
          = form_tag(action: :pay, method: :post) do
            <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_0550d800b2ecede01031d30d"></script>
        p 注文内容
        商品の小計：	￥1,716
        配送料・手数料：	￥0
        ご請求額：	￥1,716
        適用された割引：
        プロモーション適用
        配送料・手数料について
        ご注文内の対象商品に、プライム配送特典が適用されました。

javascript:
