/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";
 @import "bootstrap-sprockets";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 /* universal */

 body {
   padding-top: 60px;
 }

 section {
   overflow: auto;
 }

 textarea {
   resize: vertical;
 }

 .center {
   text-align: center;
 }

 .center h1 {
   margin-bottom: 10px;
 }

 /* typography */

 h1, h2, h3, h4, h5, h6 {
   line-height: 1;
 }

 h1 {
   font-size: 3em;
   letter-spacing: -2px;
   margin-bottom: 30px;
   text-align: center;
 }

 h2 {
   font-size: 1.2em;
   letter-spacing: -1px;
   margin-bottom: 30px;
   text-align: center;
   font-weight: normal;
   color: #777;
 }

 p {
   font-size: 1.1em;
   line-height: 1.7em;
 }

 /* header */

 #logo {
   float: left;
   margin-right: 10px;
   font-size: 1.7em;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: -1px;
   padding-top: 9px;
   font-weight: bold;
 }

 #logo:hover {
   color: #fff;
   text-decoration: none;
 }

 .inline {
   display: block;
   margin: 12px 0 0 0;
 }

 /* footer */

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  margin: 0 10px 0 0;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

img {
   width: 100%;
   height: 100%; /* 画像幅以上拡大しないようにする指定 */
}

.ranking_box .icon{
  width: 50px;
  height: 50px;
  color: #ffffff;
  background-color: #2779bd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  top: 75%;
  left: 8%;
  }

.iine {
  color: #FFFF00;
}

.ranking_box .icon button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  }

/* search tab list */
.tabnav{
    margin: 0;
    padding: 0;
}
.tabnav li{
    display: inline;
}
.tabnav li a{
    display: inline-block;
    background: #405dca;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}
.tabnav li a:hover,
.tabnav li a.active{
    background: #ddd;
    color: #333;
}
.tabcontent{
    padding: 20px;
    border: 1px dotted #ccc;
}
.product_box{
  display: inline-flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 10px;
  position: relative;
}

/*
#image .icon{
  width: 50px;
  height: 50px;
  color: #ffffff;
  background-color: #2779bd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  top: 70%;
  left: 8%;
  }

.iine {
  color: #FFFF00;
}

#image .icon button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  }
*/

/* user favorite */

.favorite_box {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 10px;
  position: relative;
}

.favorite_box .icon{
  width: 50px;
  height: 50px;
  color: #ffffff;
  background-color: #2779bd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  top: 75%;
  left: 8%;
  }

.iine {
  color: #FFFF00;
}

.favorite_box .icon button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  }

  .uwagaki {
    display: 0;
  }

/* product show */

#inner{
  text-align: center;
}

#inner h2 {
  font-size: 5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

#inner .icon{
  width: 50px;
  height: 50px;
  color: #ffffff;
  background-color: #2779bd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  top: 60%;
  left: 40%;
  }

#inner .icon button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  }

/* home 右メニュー */
.left-menu-height-max {
  height: 100%;
}

/* ranking */
.ranking.col-md-4 {
  padding: 1px;
}

.ranking.col-md-4 img {
  height: 250px;
}

.ranking.col-md-3 {
  padding: 1px;
}

.ranking.col-md-3 img {
  height: 180px;
}

/* img */
img {
  height: 250px;
}

.product_purchase img {
  width: 200px;
}


/* home iine icon */
.ranking .icon{
  width: 50px;
  height: 50px;
  color: #ffffff;
  background-color: #2779bd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  top: 15%;
  left: 5%;
  }

.iine {
  color: #FFFF00;
}

.ranking .icon button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  }

/* product search */
.search.col-md-2 {
  padding: 5px;
}

.search.col-md-2 img {
  height: 200px;
}

.search .icon{
  width: 50px;
  height: 50px;
  color: #ffffff;
  background-color: #2779bd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  top: 5%;
  left: 5%;
  }

.iine {
  color: #FFFF00;
}

.search .icon button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  }

  .search.col-md-2 .col-md-6 {
    padding: 0px;
  }

/* favorite */
.favorite .icon{
  width: 50px;
  height: 50px;
  color: #ffffff;
  background-color: #2779bd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  top: 5%;
  left: 15%;
  }

.iine {
  color: #FFFF00;
}

.favorite .icon button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  }

/* product_show */
.col-md-6.product img{
  height: 600px;
}

.col-md-6.product .icon{
  width: 50px;
  height: 50px;
  color: #ffffff;
  background-color: #2779bd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  top: 5%;
  left: 10%;
  }

.iine {
  color: #FFFF00;
}

.col-md-6.product .icon button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  }

/* カレンダーcss */

div.cal_wrapper {
    padding: 10px 0px;
}
div.schedule_wrapper {
    padding: 10px 0px;
    width: 310px;
    border: solid 1px #CCC;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #666;
}
div.schedule_wrapper h3 {
    padding: 0px 10px;
    font-weight: normal;
    margin: 0px;
    font-size: 12px;
    color: #666;
}
div.schedule_wrapper div.schedule_list {
    padding: 0px 10px;
    margin: 0px;
}

div.cal_wrapper table.cal tr th p {
    float: left;
    padding: 5px;
    margin: 0px;
    color: #666;
    font-size: 12px;
}
div.cal_wrapper table.cal tr th div.cal_ui {
    float: right;
}

div.cal_wrapper table.cal tr th div.cal_ui input {
    border: solid 1px #CCC;
    background-color: #FFF;
    font-size: 12px;
    margin: 0px 1px;
    padding: 1px 3px;
    border-radius: 2px;
}
div.cal_wrapper table.cal td {;
    border: solid 1px #000;
}
table{
  border-collapse: collapse;
}
div.cal_wrapper table.cal tr td {
    font-size: 10px;
    text-align: center;
    padding: 2px
}
div.cal_wrapper table.cal tr.headline td {
    padding: 5px 0px;
}
div.cal_wrapper table.cal tr.headline {
    background-color: #EEE;
}
/*カレンダー表組の装飾*/
div.cal_wrapper table.cal tr td div {
    position: relative;
    padding: 5px 9px;/*日付の幅*/
    font-size: 10px;
    text-align: center;
    background-color: #FFF;
    border-radius: 3px;
}
div.cal_wrapper table.cal tr td div span {
    display: none;
    position: absolute;
    top: 20px;
    left: 0px;
    width: 180px;
    border: solid 1px #EEE;
    background-color: #FFF;
    text-align: left;
    padding: 5px;
    z-index: 10;
    color: #000;
    font-weight: normal;
    line-height: 1.5em;
    box-shadow: 1px 1px 3px #666;
}

/* Holydayの装飾 */
div.cal_wrapper table.cal tr td div.Holyday {
    font-weight: bolder;
    color: red;/*祝日の文字色。赤色にしてます。*/
    background-color: #FFFACD;/*祝日の背景色。黄色にしてます。*/
}

div.cal_wrapper table.cal tr td div.Holyday, div.cal_wrapper table.cal tr td div.Sun, div.cal_wrapper table.cal tr td div.Sat {
    background-color: #FFFACD;/*日曜日・土曜日の背景色。黄色にしてます。*/
}


div.cal_wrapper table.cal tr td div.Today {
  color: #66ccff;/*当日の文字色。見本では水色にしてます。*/
    font-weight: bolder;
}

/*過去日付の装飾*/
div.cal_wrapper table.cal tr td div.backward {
    color: #CCC;
    font-weight: normal;
    background-color: #FFF;
    border-radius: 3px;
}

.sat {
  color: blue;
  background: #D0E8FF;/*「土曜日」見出し部分の背景色。水色にしてます。*/
  font-weight: bold;
}

.sun {
  color: red;
  background-color: #FDDFFC;/*「日曜日」見出し部分の背景色。ピンク色にしてます。*/
  font-weight: bold;
}

.Sun {
  color: red;/*日曜日の文字色。見本では赤色にしてます。*/
  font-weight: bold;
}

.Sat {
  color: blue;/*土曜日の文字色。見本では赤色にしてます。*/
  font-weight: bold;
}
